@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container {
    width: 1140px;
    margin: auto;
}

#octagon {
    z-index: -2;
    right: 104px;
    bottom: 26px;
    width: 744px;
    height: 230px;
    background: #5ac3b8;
    position: relative;
}

#octagon:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 207px solid #5ac3b8;
    border-right: 148px solid white;
    width: 596px;
    height: 0;
}

#octagon:after {
    content: "";
    position: absolute;
    bottom: -140px;
    left: 0px;
    border-top: 140px solid #5ac3b8;
    width: 744px;
    height: 0;
}

#left-triangle {
    position: absolute;
    border-left: 850px solid #f3e94f;
    border-top: 0px solid transparent;
    border-bottom: 850px solid transparent;
    z-index: -1;
    left: 0px;
    top: 90%;
}

#right-triangle {
    position: absolute;
    top: 1328px;
    border-right: 776px solid purple;
    border-top: 538px solid transparent;
    border-bottom: 538px solid transparent;
    z-index: -1;
    right: 0px;
}

.ondinha {
    position: absolute;
    top: 1790px;
    right: 140px;
}

.maismais {
    position: absolute;
    top: 1502px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
    background: white;
}

header h2 {
    font-family: 'Pacifico', cursive;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    padding-top: 30px;
}

#banner img {
    width: 100%;
    margin-top: 40px;
}

h2 {
    font-weight: 100;
    font-size: 55px;
    width: 575px;
}

.fa {
    color: purple;
}

.desenvolvedora a {
    color: purple;
}

.linha {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header #titulo {
    display: flex;
    align-items: center;
}

header h2 img {
    margin-left: 5px;
    width: 30px;
}

.ingresso {
    width: 290px;
    background-color: #39b54a;
    padding: 15px;
    text-align: center;
    position: absolute;
    top: 1704px;
    right: 310px;
}

.ingresso a {
    color: white;
    font-size: x-large;
}

.idealizadorasConteudo img {
    height: 210px;
}

#cabecalho .fa {
    color: #887014;
}

#cabecalho .fa:hover {
    color: black;
}

.textoInicio {
    text-align: justify;
}

.centro {
    display: block;
    text-align: center;
}

#cabecalho {
    width: 100%;
    background-color: #4f0067;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 11;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#cabecalho img {
    width: 145px;
}

#cabecalho a {
    color: #f5ec6a;
}

#cabecalho li {
    margin: auto 55px;
}

p {
    line-height: 1.5;
}

#cabecalho a:hover {
    color: black;
    font-weight: bold;
}

.menuHorizontal ul {
    margin: 0;
    padding: 0;
}

.menuHorizontal a {
    padding: 0 20px;
}

.botao.menuHamburguer {
    background: none;
    display: none;
}

.logo {
    display: none;
}

b {
    color: purple;
}

.oquee {
    display: flex;
    align-items: center;
}

.como {
    display: flex;
    align-items: center;
    background-color: #4e0066;
    right: 172px;
    position: relative;
}

.como b {
    color: #5ac3b8;
}

.como h2,
.como p {
    color: white;
    margin-right: 30px;
}

.publico {
    display: flex;
    align-items: center;
}

.publico h2 {
    margin-right: 125px;
}

.info {
    height: 160px;
}

.participantesTitulo,
.patrocinioTitulo,
.idealizadorasTitulo {
    text-align: -webkit-center;
}

.participantesTitulo h3,
.patrocinioTitulo h3,
.idealizadorasTitulo h3 {
    background-color: #f5ec6a;
    width: 200px;
    padding: 8px 0;
    border-left: 6px solid #5ac3b8;
    border-right: 6px solid #5ac3b8;
    color: #4f0067;
}

.participantesConteudo h4,
.participantesConteudo p {
    color: #5ac3b8;
}

.participantesConteudo img {
    height: 200px;
}

.patrocinioConteudo {
    height: 200px;
}

.patrocinioConteudo img {
    width: 150px;
}

.participantesConteudo,
.patrocinioConteudo,
.idealizadorasConteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.textos {
    display: block;
    position: relative;
    bottom: 215px;
    left: 60px;
    font-size: x-large;
    width: 285px;
}

.textos p {
    font-size: medium;
}

.textos h3,
.textos p {
    margin: 0;
}

.botao {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 30px;
    background: white;
    border: solid 1px grey;
    border-radius: 16px;
    margin: 10px;
}

.botao:hover {
    background-color: yellow;
    opacity: 0.70;
}

.botao.conteudo {
    font-size: 15px;
    font-weight: bold;
    padding: 10px

 30px;
    background: white;
    border: solid 1px grey;
    border-radius: 0px;
    margin: 10px;
}

footer {
    background-color: #5ac3b8;
    position: relative;
    top: 17px;
}

.powered,
.desenvolvedora {
    text-align: center;
    color: #f5ec6a;
    font-size: small;
}

footer img {
    width: 81px;
    height: 70px;
    margin-top: 10px;
}

.redes ul {
    display: flex;
    justify-content: center;
}

.redes li {
    background-color: #f5ec6a;
    border-radius: 50%;
    font-size: x-large;
    width: 10px;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    margin: 0 5px;
}

.redes .fa {
    color: #5ac3b8;
}
```